@inherits AboutBase

<div class="sticky-top mb-5" style="top: 3rem">
    <h1 class="display-4 fw-bold">@_name</h1>
    <h2 class="fs-4 fw-normal">@_title</h2>
    <p class="fw-lighter my-5">
        Welcome to my portofolio page!<br />
        I am passionate about creating projects with the experiential goal of capturing impactful and engaging moments for audiences.
        Check out my current and past project here and scramble out my space to get a new experience from here!
    </p>
    <ol class="nav nav-pills flex-column list-group list-group-list-group-numbered">
        <li class="nav-item list-group-item">
            <NavLink class="link-underline link-underline-opacity-0 " href="#">Project</NavLink>
        </li>
        <li class="nav-item list-group-item">
            <NavLink class="link-underline link-underline-opacity-0 " href="@_resume">Resume</NavLink>
        </li>
    </ol>
    <div class="my-5 py-3">
        <p>Contact me</p>
        <NavLink class="btn btn-primary btn-floating" href="@_email">
            <i class="bi bi-envelope"></i>
        </NavLink>
        <NavLink class="btn btn-primary btn-floating" href="@_github">
            <i class="bi bi-github"></i>
        </NavLink>
    </div>
</div>
